# Compiled Java classes
*.class

# VS Code specific files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other common ignores
bin/
build/
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar